**/Makefile.in
**/*.gmo
**/*_gen.c
**/*_gen.h
translations/*/*.pot
build
configure
aclocal.m4
autom4te.cache
bootstrap/compile
bootstrap/config.guess
bootstrap/config.sub
bootstrap/depcomp
bootstrap/install-sh
bootstrap/ltmain.sh
bootstrap/missing
gen_headers/fc_config.h.in
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
**/Makefile
**/.deps
**/*.o
**/*.a
**/*.so
**/*.lo
**/.libs
**/*.la
**/*.appdata.xml
**/*.desktop
libtool
fcgui
fcser
fcruledit
freeciv.spec
client/freeciv-gtk3
config.log
config.status
gen_headers/fc_config.h
gen_headers/freeciv_config.h
gen_headers/stamp-h1
gen_headers/stamp-h2
translations/*/POTFILES
translations/*/stamp-po
doc/man/freeciv-client.6
doc/man/freeciv-manual.6
doc/man/freeciv-modpack.6
doc/man/freeciv-ruledit.6
doc/man/freeciv-server.6
**/*.gz
